body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container{
    background-color: white;
    padding: 20px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

 .signup-container h2{
    margin-bottom: 20px;
    color: #333;
}

.signup-container label{
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: #333;
}

.signup-container input[type="text"],
.signup-container input[type="tel"],
.signup-container input[type="email"],
.signup-container input[type="password"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-container button {
    width: 60%;
    padding: 10px;
    background-color: #007bff;
    color: rgb(246, 242, 50);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
}

.signup-container button:hover {
    background-color: #0056b3;
}